
<!DOCTYPE html>
<html>
<head>
  <title>Portf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<header>
  <nav class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container-fluid"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">   
        <ul class="nav navbar-nav navbar-right">
          <%= link_to 'About', '#about', :class => 'btn-1 btn-default btn btn-block' %>
          <%= link_to 'Work', '#', :class => 'btn-1 btn-default btn btn-block' %>
          <%= link_to 'Drop a line', '#drop a line', :class => 'btn-1 btn-default btn btn-block' %>
        </ul>    
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="jumbotron">
    <div class="container col-sm-12 col-xs-12">
    <h1>Sebastian B
    <br />Full Stack Developer </h1>
   </div> 
  </div> 
</header>
<br style="clr">

<section class="about col-xs-12" id="about">
<br />
  <div class="col-xs-12 Seb">
    <div class="photo-of-me">
      <img alt="cat" class="img-responsive-circle" src="assets/laid-cat.png">
    </div>  
  </div> 
  <div class="col-xs-12"> 
    <h3>Seb</h3>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <p><span class="firstcharacter">I'</span>m a freelance Full Stack Web Developer, with experience building and improving UI and UX using friendly and beautiful interfaces. 
      I can help you develop your business producing solid, responsive and interactive front desings with simple yet powerful back end server solutions for data driven application. <br />
      Please feel free to contact me, I can answer all your questions @ e-mail.</p></div>  
  </div>    
  <br />
  <div class="clearfix"></div>
  <br />
  <div class="skill-lockup col-xs-12"> 
    <h3>Skills</h3>

      <div class="skill-div col-xs-12 col-sm-6">
        <div class="skill-unit">
          <div class="skill-label"> Communication </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Organization </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Learning </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Teaching </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>
       </div> 


      <div class="skill-div col-xs-12 col-sm-6">
        <div class="skill-unit">
          <div class="skill-label"> Planning </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Visual Design </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> UX desing </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Programming </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>
       </div> 
  </div>  
<br />
<br />    
</section>  
<div class="clr"></div>
<div class="col-xs-12 text-center">
  <h3>Portfolio</h3>
</div>
<div class="clr"></div>

<section id="gallery">
  <div class="container-fluid">
    <div class="row no-gutter"> 
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
      <div class="col-xs-12 col-sm-6 col-lg-3">no gutter</div>
    </div>
  </div>
</section>
  

  <%= yield %>
  <!--footer starts here -->
<div class="clr"></div>
<br />
<br />
<div id="footer">
 <div class="container"> 
  <h2> CONTACT ME </h2> 
  <form class="col-xs-12 col-sm-6 form-horizontal">
    <fieldset>
        <div class="form-group" id="drop a line"> 
          <label class="control-label" for"textarea"></label><br /> 
          <br />
          <textarea class="form-control" id="textarea" name="textarea" rows="1" >Your name</textarea>
          <br /> 
          <textarea class="form-control" id="textarea" name="textarea" rows="1" >Your E-mail</textarea>
          <br /> 
          <textarea class="form-control" id="textarea" name="textarea" rows="5" >I'll be happy to answer all your questions, just use this box to write</textarea>
        </div>    
        <div class="form-group"> <!-- Button -->
          <label class="control-label" for="Send email"></label>
            <button id="Send email" name="Send email" class="btn-2 btn-default btn-xs pull-right">Send</button>
        </div>
    </fieldset>
  </form>

    <div class="esquina col-xs-12 col-sm-5 col-sm-offset-1">
      <br />
      <span>Feel free to <b>ASK ME</b> any question about freelancing your project.
      <br />
      <br />
      E-mail: coustum@mail.com
      <br />
      Located in: Montreal Metro Area, Quebec
      <br />
      <br />
      <b>Social:</b>
      <br /></span>
      <%= image_tag 'github.png', :class => 'social-button' %>
      <%= image_tag 'gmail.png', :class => 'social-button' %>
    </div>
  </div>  
 </div>   
</div> 
  


<script>

</script>

</body>
</html>
