
<!DOCTYPE html>
<html>
<head>
  <title>Portf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>


<header>
  <nav class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container-fluid"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">   
        <ul class="nav navbar-nav navbar-right">
          <%= link_to 'About', '#about', :class => 'btn btn-default btn-sm' %>
          <%= link_to 'Work', '#', :class => 'btn btn-default btn-sm' %>
          <%= link_to 'Drop a line', '#drop a line', :class => 'btn btn-default btn-sm' %>
        </ul>    
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="jumbotron">
    <div class="container col-sm-12 col-xs-12">
    <h1>
      I'm Seb
    </h1> 
    <br />
    <h2> Full stack web developer </h2>
      <i><span> Web application buildier </span></i>
   </div> 
  </div> 
</header>

  <br style="clr">

<section class="about col-sm-12 col-xs-12" id="about">
<br />
  <div class="col-xs-10 col-sm-8 col-sm-offset-2 Seb">
    <div class="photo-of-me">
      <img alt="cat" class="img-responsive img-thumbnail" src="assets/laid-cat.png">
    </div>  
  </div> 
  <div class="col-xs-10 col-sm-8 col-sm-offset-2"> 
    <h3>Seb</h3>
      <p>Full stack developer, some programming languages in my belt are: CSS, HTML  Ruby, R, and JQuery. I'm a music lover, beer drinker, number cruncher, film marathonist and cat friendly. 
      Love to build incredible apps and to persuit awesomeness...</p>    
  </div>    
  <br />
  <div class="skills col-xs-10 col-sm-8 col-sm-offset-2"> 
    <h3>Skills</h3>
      <p>...</p>    
  </div>  
</section>  


  <%= yield %>
  <!--footer starts here -->
  <div class="clr"></div>

<div id="footer">
  <br />   
  <form class="col-xs-5 col-xs-offset-1 form-horizontal">
    <fieldset>
        <div class="form-group" id="drop a line"> 
          <br /> 
          <label class="control-label" for"textarea">DROP ME A LINE</label><br /> 
          <textarea class="form-control" id="textarea" name="textarea" rows="5" >...</textarea>
        </div>    
        <div class="form-group"> <!-- Button -->
          <label class="control-label" for="Sen email"></label>
            <button id="Sen email" name="Sen email" class="btn btn-default btn-xs pull left">Send</button>
        </div>
    </fieldset>
  </form>

  <div class="col-xs-5 section-2">
      <br />
      <%= link_to 'About', '#about', :class => 'btn btn-default btn-xs' %>
      <%= link_to 'Work', '#', :class => 'btn btn-default btn-xs' %>
      <br />
      <br />
      <br />
      <%= image_tag 'github.png', class: 'social-button' %>
      <%= image_tag 'gmail.png', class: 'social-button' %>
      <br />
 </div>  
</div>  

<script>

</script>

</body>
</html>
