
<!DOCTYPE html>
<html>
<head>
  <title>Portf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>


<header>
  <nav class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container-fluid"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">   
        <ul class="nav navbar-nav navbar-right">
          <%= link_to 'About', '#about', :class => 'btn-1 btn-default btn btn-block' %>
          <%= link_to 'Work', '#', :class => 'btn-1 btn-default btn btn-block' %>
          <%= link_to 'Drop a line', '#drop a line', :class => 'btn-1 btn-default btn btn-block' %>
        </ul>    
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="jumbotron">
    <div class="container col-sm-12 col-xs-12">
    <h1>
      I'm Seb
    </h1> 
    <br />
    <h2> Full stack web developer </h2>
      <i><span> Application builder </span></i>
   </div> 
  </div> 
</header>

  <br style="clr">

<section class="about col-sm-12 col-xs-12" id="about">
<br />
  <div class="col-xs-10 col-sm-8 col-sm-offset-2 Seb">
    <div class="photo-of-me">
      <img alt="cat" class="img-responsive img-thumbnail" src="assets/laid-cat.png">
    </div>  
  </div> 
  <div class="col-xs-10 col-sm-8 col-sm-offset-2"> 
    <h3>Seb</h3>
      <p>Freelance Full Stack Web Developer.
      I'm here to help you develop your business needs producing solid, responsive and interactive front and server end solutions. I have a experience building and improving apps by making UI and UX friendlier and more fluid always keeping in mind the final user, I'm capable to produce simple yet powerful back end server solutions.
      <br />
      Please feel free to contact me, I can answer all your questions @ e-mail.</p>    
  </div>    
  <br />
  <div class="clearfix"></div>
  <br />
  <div class="skill-lockup col-xs-10 col-sm-8 col-sm-offset-2"> 
    <h3>Skills</h3>

      <div class="skill-div col-xs-12 col-sm-6">
        <div class="skill-unit">
          <div class="skill-label"> Communication </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Organization </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Learning </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Teaching </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>
       </div> 


      <div class="skill-div col-xs-12 col-sm-6">
        <div class="skill-unit">
          <div class="skill-label"> Planning </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Visual Design </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> UX desing </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>

        <div class="skill-unit">
          <div class="skill-label"> Programming </div>
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>  
        </div>
       </div> 
  </div>      
</section>  

  <%= yield %>
  <!--footer starts here -->
  <div class="clr"></div>
<br />
<br />
<div id="footer">
  <br />   
  <form class="col-xs-5 col-xs-offset-1 form-horizontal">
    <fieldset>
        <div class="form-group" id="drop a line"> 
          <br /> 
          <label class="control-label" for"textarea">DROP ME A LINE</label><br /> 
          <textarea class="form-control" id="textarea" name="textarea" rows="1" >Your name</textarea>
          <br /> 
          <textarea class="form-control" id="textarea" name="textarea" rows="1" >Your email</textarea>
          <br /> 
          <textarea class="form-control" id="textarea" name="textarea" rows="5" >I'll be happy to answer all your questions, just use the box to contact me.</textarea>
        </div>    
        <div class="form-group"> <!-- Button -->
          <label class="control-label" for="Sen email"></label>
            <button id="Sen email" name="Sen email" class="btn btn-default btn-xs pull-right">Send</button>
        </div>
    </fieldset>
  </form>

  <div class="col-xs-5 section-2">
      <br />
      <%= link_to 'About', '#about', :class => 'btn btn-default btn-xs' %>
      <%= link_to 'Work', '#', :class => 'btn btn-default btn-xs' %>
      <br />
      <br />
      <br />
      <%= image_tag 'github.png', class: 'social-button' %>
      <%= image_tag 'gmail.png', class: 'social-button' %>
 </div>  
</div>  

<script>

</script>

</body>
</html>
